= wrap_layout :blog do
  .post
    %h2 #{ data.page.verbose }
    .timestamp
      published at #{ data.page.date.strftime('%d %B %Y') }
    = yield
    .tags
      - data.page.tags.split(', ').each do |tag|
        %a{ :href => "/blog/tags/#{tag}.html", :class => 'tag' } #{tag}