---
layout: blog
pageable: true
---

- content_for(:title, "awolf's blog")
- page_articles.each_with_index do |article, i|
  .post
    %h2 
      = link_to article.data.verbose, article
    .timestamp
      published at #{ article.date.strftime('%d %B %Y') }
      %span.timeago{ :title => article.date }
    = article.body
    .tags
      - article.tags.each do |tag|
        %a{ :href => "/blog/tags/#{tag}", :class => 'tag' } #{tag}
- if paginate
  .paginator
    - if prev_page
      = link_to '←previous', prev_page
    - else
      %span ←previous
    \/
    - if next_page
      = link_to 'next→', next_page
    - else
      %span next→
