---
layout: blog
pageable: true
---

- content_for(:title, "#{page_articles.count} article#{ 's' if page_articles.count != 1 } tagged «#{tagname}»")
%h1.subtitle
  #{ page_articles.count } article#{ 's' if page_articles.count != 1 }  tagged «#{tagname}»
- page_articles.each_with_index do |article, i|
  .post
    %h2 
      %a{ :href => "/blog/#{article.data.title}" } #{article.data.verbose}
    .timestamp
      #{ article.date.strftime('%d %B %Y') }
      %span.timeago{ :title => article.date }
    = article.body
    .tags
      - article.tags.each do |tag|
        %a{ :href => "/blog/tags/#{tag}.html", :class => 'tag' } #{tag}
- if paginate
  .paginator
    - if prev_page
      = link_to '←previous', prev_page
    - else
      %span ←previous
    \/
    - if next_page
      = link_to 'next→', next_page
    - else
      %span next→